cdf-media-slider[_ngcontent-cor-14]     .media-slider-flex-item {
  
  height: 275px;
  width: 275px; }
  @media only screen and (max-width: 1920px) {
    cdf-media-slider[_ngcontent-cor-14]     .media-slider-flex-item {
      margin: 1px;
      width: 272px; } }
  @media only screen and (max-width: 840px) {
    cdf-media-slider[_ngcontent-cor-14]     .media-slider-flex-item {
      margin: 5px; } }

cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-title {
  color: #fff;
  display: none;
  font-family: "OpenSansLight"; }
  @media only screen and (min-width: 40rem) {
    cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-title {
      font-size: 2rem; } }

cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-type {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 1.5rem 1rem 1.5rem 0; }
  @media only screen and (min-width: 40rem) {
    cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-type {
      font-size: 1.25rem; } }

cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-type-project {
  background-color: #E92100; }

cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-type-service {
  background-color: #FF7E00; }

cdf-media-slider[_ngcontent-cor-14]     cdf-media   .cdf-media-type-production {
  background-color: #0189E9; }

cdf-media-slider[_ngcontent-cor-14]     .cdf-info-pane-container {
  padding: 1rem;
  z-index: 100; }
  cdf-media-slider[_ngcontent-cor-14]     .cdf-info-pane-container__title {
    margin: 0.75rem 0 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2; }
  cdf-media-slider[_ngcontent-cor-14]     .cdf-info-pane-container__button {
    margin: 2rem 0 0 0; }