[_nghost-cor-1] 
	{
		margin: auto;
		width: 100%;
	}
		
	.cdf-background-image[_ngcontent-cor-1]
	{
		background-repeat:no-repeat;
		background-size: cover;
		background-position:center center;	
		height: 100%;
		transition: all 0.3s ease 0s;
		width:100%;
	}